.DS_Store
pyvenv.cfg
__pycache__/
*.pyc
*.pt
*.pkl
*.h5
*.zip
.env
.venv/
bin/
lib/
include/
etc/
.ipynb_checkpoints/

# Ignore Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebooks checkpoints (optional)
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

